body{
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    background: #EEEEEF;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;

}
.section {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.wrapper-1{
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 16px 52px;
    background: #10BBD5;
}

    /*section 1*/
.menu-1-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
    width: 1296px;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 4px;
}
.logo-book{
    width: 26px;
    height: 28px;
}

.header-total{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}
.p-logo{
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700;
}
.header-menu-price{
    display: flex;
    align-items: center;
    color: #F8FDFE;
    font-size: 16px;;
    font-weight: 400;
}
.basket{
    position: relative;
    padding: 3px;
    box-sizing: border-box;
}
.basket-img{
    position: relative;
}
.basket-count{
    position: absolute;
    top: 10px;
    left: 22px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
}
.btn{
    border: none;
    background: none;
    height: 40px;
    box-sizing: border-box;
}
    /*section 2*/
.wrapper-2{
    justify-content: center;
    align-items: center;
    padding: 4px 52px;
    background: #FFF;
    height: 32px;
}
.menu-2-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
}
.nav-text{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    gap: 40px;
    color: #000000;
}

    /* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-section-content{
    width: 1296px;
}
.main-head-text{
    margin-top: 32px;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
}
.line{
    border-top: 1px solid #A8A8A8;
    width: 100%;
}
.main-line{
    margin-top: 23px;
    margin-bottom: 24px;
}
.book-line{
    width: 242px;
}
    /* main-book-tablet */
.main-book-wrapper{
    display: inline-flex;
    max-width: 1296px;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}
.book-img-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.book-proposal{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
}
.proposal{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.hit{
    border: 1px solid #4200FF;
    background: #4200FF;
}
.new{
    border: 1px solid #AF39E7;
    background: #AF39E7;
}
.discount{
    border: 1px solid #EA33C0;
    background: #EA33C0;
}
.book-img{
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-content{
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    width: 306px;
    height: 512px;
    box-sizing: border-box;
    border: 1px solid #8E8E8E;
    background: #F8FDFE;
}
.book-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    width: 242px;
    box-sizing: border-box;
}
.btn-add{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #744978;
    color: #F8FDFE;
}
.btn-add:hover{
    color: #F8FDFE;
    background: #4C394E;
}
.btn-end{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #6DB236;
    color: #F8FDFE;
}
.btn-end:hover{
    color: #F8FDFE;
    background: #4D762D;
}

    /*description*/
.book-name{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 242px;
}
.book-author{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.book-price-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}
.book-price{
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}
.book-full-price{
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    text-decoration-line: line-through;
}

    /* chat btn*/
.btn-chat{
    position: fixed;
    bottom: 120px;
    right: 28px;
    padding: 6px;
    width: 64px;
    height: 64px;
    border: 1px solid #10BBD5;
    border-radius: 50%;
    background: #10BBD5;
}
.btn-chat:hover{
    transform: rotate(20deg);
}
    /*footer*/

.wrapper-footer{
    justify-content: center;
    align-items: center;
    padding: 32px 52px;
    background: #4C394E;
    height: 88px;
    margin-top: 120px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
}
.footer-text{
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}